<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Compra buscada: {{articulo}}</p>
    {% if compra %}
    <ul>
        {% for c in compra %}
        <li>Articulo: {{c.articulo}}</li>
        <li>Cantidad: {{c.cantidad}}</li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Esta compra no existe</p>
    
    {% endif %}
</body>
</html>