<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Producto buscado: {{producto}}</p>
    {% if producto2 %}
    <ul>
        {% for p in producto2 %}
        <li>Producto: {{p.producto}}</li>
        <li>Cantidad disponible: {{p.cantidad_disponible}}</li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Este producto no existe</p>
    
    {% endif %}
</body>
</html>